  services:
    laravel:
      build:
        context: .
        dockerfile: Dockerfile
      container_name: Tubes_Devops
      depends_on:
        - db
      networks:
        - laravel_net

    web:
      image: nginx:alpine
      container_name: laravel_nginx
      ports:
        - "80:80"
      volumes:
        - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      depends_on:
        - laravel
      networks:
        - laravel_net
      
    db:
      image: mysql:8.0
      container_name: laravel_mysql
      environment:
        MYSQL_DATABASE: rumah_sakit
        MYSQL_ROOT_PASSWORD: password123
        MYSQL_USER: adminrs
        MYSQL_PASSWORD: password123
      volumes:
        - mysql_data:/var/lib/mysql
      networks:
        - laravel_net

    phpmyadmin:
      image: phpmyadmin/phpmyadmin
      container_name: laravel_phpmyadmin
      ports:
        - "8081:80"
      environment:
        PMA_HOST: db
        PMA_USER: adminrs
        PMA_PASSWORD: password123
      depends_on:
        - db
      networks:
        - laravel_net

  networks:
    laravel_net:

  volumes:
    mysql_data: