---
# roles/common/handlers/main.yml
- name: reload firewall
  ufw:
    state: reloaded

- name: restart docker
  systemd:
    name: docker
    state: restarted

- name: restart application
  command: docker-compose restart
  args:
    chdir: "{{ app_root }}"